@font-face {
    font-family: 'Roboto';
    src: url('/cConverter/font/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.cConverter__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}

.cConverter__container .cConverter__inputs{
    width: 400px;
}

.cConverter__container input{
    width: calc(100% - 18px);
    height: 40px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    padding-left: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.1s ease-in-out;
}

.cConverter__container input:hover{
    background-color: #f2f2f2;
}

.cConverter__container input:focus{
    outline: none;
    border-color: #444;
}

.cConverter__container input:read-only{
    background-color: #444;
    color: #f2f2f2;
    border-radius: 4px;
}

.cConverter__container select{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.cConverter__container select:hover{
    background-color: #f2f2f2;
}

.cConverter__container .cConverter__result{
    height: 100%;
    margin: 0 auto;
    width: 400px;
    margin-top: 20px;
}

.cConverter__container .cConverter__result .cConverter__baselabel{
    font-size: 14px;
    color: rgb(125, 125, 125);
}

.cConverter__container .cConverter__result .cConverter__resultlabel{
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}